img {
	width: 100%;
}

.title {
	font-size: 20pt;
	text-align: center;
	width: 100%;
}

.tag {
	border: 1px solid black;
	border-radius: 10px;
	margin: 2%;
	padding: 1%;
	width: 30%;
	min-height: 100px;
	max-width: 300px;
	display: flex;
	flex-direction: column;
}

.data {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}



.line {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.humidite, .temperature {
	font-size: 18pt;
	width: 40%;
	text-align: center;
	padding-top: 4%;
	margin: 5px;
	min-width: 100px;
}


div > img {
	max-width: 20px;
	height: auto;
}